*.jl.*.cov
*.jl.cov
*.jl.mem
.use-clang-format-15
compile_commands.json
/bin/
/deps/.cache
/deps/build*/
/deps/build.log
/deps/install*/
/docs/build/
/docs/Manifest.toml
/gh-pages/
/local/*
/Manifest.toml
/src/libraryfuncdictionary.jl
