name: Documentation (PR)

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  actions: write
  pull-requests: read
  contents: read
  statuses: write
  issues: write

jobs:
  docs:
    name: "Build documentation"
    runs-on: ubuntu-latest
    env:
      CC: gcc
      CXX: g++
      CXXFLAGS: -fdiagnostics-color -O2
      LD_LIBRARY_PATH: /usr/local/lib
    steps:
      - uses: actions/checkout@v6

      - name: Install system dependencies
        run: |
          sudo apt-get --yes update
          sudo apt-get install --yes \
            git \
            pkg-config \
            m4 \
            libtool \
            automake \
            autoconf \
            libtool-bin

      - name: Clone libsemigroups
        run: |
          git clone https://github.com/libsemigroups/libsemigroups.git --depth 1 --branch main
          cd libsemigroups
          git submodule update --init --recursive

      - name: Build and install libsemigroups
        run: |
          cd libsemigroups
          mkdir -p m4
          ./autogen.sh
          ./configure CXX="$CXX" CXXFLAGS="$CXXFLAGS" --disable-hpcombi
          make -j$(nproc)
          sudo make install
          sudo ldconfig

      - uses: julia-actions/setup-julia@v2
        with:
          version: "1"

      - uses: julia-actions/cache@v2

      - name: "Build package"
        uses: julia-actions/julia-buildpkg@v1

      - run: |
          julia --project=docs --color=yes -e '
            using Pkg
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()'

      - name: Build documentation
        run: |
          julia --project=docs --color=yes docs/make.jl
        env:
          DOCS_DEPLOY: "false"

      - name: Upload documentation artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs-html
          path: docs/build
          if-no-files-found: error
          retention-days: 1
